* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #4d4c4c;
}
body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 2px solid blue;
  width: 100%;
}
/* NAVBAR */
.bg-body-tertiary {
  background: linear-gradient(to right, #9d68ac, #dbace7, #f2d3fa) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* CARDS */
.productos {
  background-color: #f2d7fa;
  height: 100%;
  padding: 20px;
}

.productos h2 {
  padding: 30px;
}

.card-img-top {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.btn {
  background-color: #c788d9;
  border: 2px solid purple;
  padding: 10px;
}
.contacto {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 40px -14px #6f0994;
}
.contacto .container {
  padding: 5px;
}

 footer {
    text-align: center;
    background-color: #8800ff;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    margin-top: auto;
} 

